*{
  box-sizing: border-box;
}

html, #root{
  height:100%;
  width:100%;
  display:flex;
}

body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  background:linear-gradient(145deg, rgb(10, 90, 100) 42%, rgb(65, 28, 206)) 0% 0% / cover; 
  color:white;
}

.main{
  display:flex;
  flex:1;
  width:100%;
  flex-direction:column;
  justify-content:space-between;
}

header {
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.25);
  border-bottom: 2px solid white;
  justify-content: space-between;
  /*flex-direction: row;
  font-size: 3rem;
  font-family: helvetica;
  color: white;
  padding: 20px 32px;
  max-height: 85px;
  */
}

.logo {
  height: 28px;
  margin-right: 0 5px;
}

.footer {
  border-top:1px solid white;
  background:rgba(255,255,255,0.3);
  display:flex;
  position:relative;
}

.text-input{
  flex: 1;
  border-radius:12px;
  border: 2px solid white;
  background: black;
  margin: 3px 4px;
  outline: none;
  color: white;
  font-size: 12px;
  height:24px;
  padding-left: 8px;
  /*position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  align-items: center;*/
}

.message{
  width:100%;
  display: flex;
  /*flex: 1;
  overflow-y: scroll;
  overflow:auto;
  height:calc(100% - 125px);
  padding-top:10px;
  flex-direction: column-reverse;*/
}

.message-name {
  font-size: 10px;
  margin-left: 6px;
}

.message-bubble {
  color:white;
  background: black;
  border-radius:6px;
  border:1px solid grey;
  padding:4px 10px;
  display: inline-block;
  margin:5px;
}

.messages {
  overflow-y:scroll;
  flex:1;
  display: flex;
  flex-direction: column-reverse;
}


/* comment */
.text-input > input {
  width:calc(100% - 50px);
  height:31px;
  color:white;
  border:1px solid white;
  border-radius:14px;
  position:absolute;
  right:5px;
  background:#1f1e2e;
  padding-left:12px;
  padding-bottom:2px;
  padding-right:28px;
  font-size:16px;
  outline:none;
}
.text-input > button {
  flex: 1;
  position:absolute;
  top:6px;
  right:7px;
  border-radius:100%;
  width:27px;
  height:27px;
  border:1px solid white;
  background:white;
  padding: 5px 2px;
  cursor: pointer;
  outline:none;
}
.text-input > button:hover {
  color:white;
  background:teal;
}
.text-input > button[disabled] {
  color:white;
  background:grey;
  cursor:default;
}

.name-picker{
  margin-right:15px;
  display:flex;
  align-items: right;
}
.name-picker svg{
  margin-left:6px;
  cursor: pointer;
}
.name-picker svg:hover{
  transform:scale(1.2);
}
.name-picker input {
  border-radius:10px;
  outline:none;
  border:1px solid white;
  padding-left:7px;
}